



.header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--pale-peach);
    background: var(--ivory-header-background);
}
.header__container {
    display: flex;
    gap: 15px;
    align-items: center;
}
.header__logo {
    width: 284px;
    img {
        width: 284px;
    }
}   

.header__nav {
    display: flex;
}

.header__menu {
    display: flex;
    column-gap: 40px;
    
}

.header__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--black);
    font-family: "Pixel Font7";
    font-size: 18px;
    font-style: normal;
    white-space: nowrap;
    line-height: normal;
    padding: 8px 10px;
    height: 35px;
    background-color: var(--cream);
    &.active {
        color: var(--red-tomato);
    }
}


.switch-theme {
    position: relative;
    display: flex;
    &::after {
        position: absolute;
        height: 18px;
        width: 1px;
        left: 50%;
        top: 50%;
        content: "";
        transform: translate(-50%, -50%);
        background: var(--border-dark-purple-muted);
    }
}
.switch-theme__block {
    width: 35px;
    background-color: var(--cream);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-language {
    padding: 8px 10px;
    display: flex;
    background-color: var(--cream);
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-family: "Pixel Font7";
    font-size: 18px;
    font-style: normal;
    line-height: 1.1;
    svg:nth-child(1) {
        margin-right: 10px;
    }
    p {
        margin-right: 5px;
    }
}