
@font-face {
    font-family: 'Pixel Font7';
    src: url('/fonts/pixelfont-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --border-dark-purple-muted: rgba(113, 84, 89, 0.50);
    --border-dark-purple: #715459; //rgba(113, 84, 89, 1)
    --border-light-grey:#BFBFBF; //rgba(191, 191, 191, 1)
    --blue:#1A7FAE; //rgba(26, 127, 174, 1);
    --main-background:#F7F4EF ; //rgba(247, 244, 239, 1)
    --cream: #FFF9F1; //rgba(255, 249, 241, 1)
    --light-beige: #E9E5DA;//rgba(233, 229, 218, 1)
    --ivory-header-background: #F1EAE0; //rgba(241, 234, 224, 1)
    --black: #1A1A1A; //rgba(26, 26, 26, 1)
    --dark-brown: #474138; //rgba(71, 65, 56, 1)
    --medium-grey:#686055; //rgba(104, 96, 85, 1)
    --taupe: #796D5C; //rgba(121, 109, 92, 1)
    --muted-coral: #BE7262; //rgba(190, 114, 98, 1)
    --coral: #DD826F; //rgba(221, 130, 111, 1)
    --red: #8A2525;//rgba(138, 37, 37, 1)
    --pale-peach: #E0C1A5; //rgba(224, 193, 165, 1)
    --charcoal-gray: #454545; //rgba(69, 69, 69, 1)
    --red-tomato: #DC5341; //rgba(220, 83, 65, 1)
}



[data-theme='dark'] {
    --border-dark-purple-muted: rgba(113, 84, 89, 0.50);
    --border-dark-purple: #715459; //rgba(113, 84, 89, 1)
    --border-light-grey:#BFBFBF; //rgba(191, 191, 191, 1)
    --blue:#1A7FAE; //rgba(26, 127, 174, 1);
    --main-background:#F7F4EF ; //rgba(247, 244, 239, 1)
    --cream: #FFF9F1; //rgba(255, 249, 241, 1)
    --light-beige: #E9E5DA;//rgba(233, 229, 218, 1)
    --ivory-header-background: #F1EAE0; //rgba(241, 234, 224, 1)
    --black: #1A1A1A; //rgba(26, 26, 26, 1)
    --dark-brown: #474138; //rgba(71, 65, 56, 1)
    --medium-grey:#686055; //rgba(104, 96, 85, 1)
    --taupe: #796D5C; //rgba(121, 109, 92, 1)
    --muted-coral: #BE7262; //rgba(190, 114, 98, 1)
    --coral: #DD826F; //rgba(221, 130, 111, 1)
    --red: #8A2525;//rgba(138, 37, 37, 1)
    --pale-peach: #E0C1A5; //rgba(224, 193, 165, 1)
    --charcoal-gray: #454545; //rgba(69, 69, 69, 1)
    --red-tomato: #DC5341; //rgba(220, 83, 65, 1)
}

[data-theme='light'] {
    --border-dark-purple-muted: rgba(113, 84, 89, 0.50);
    --border-dark-purple: #715459; //rgba(113, 84, 89, 1)
    --border-light-grey:#BFBFBF; //rgba(191, 191, 191, 1)
    --blue:#1A7FAE; //rgba(26, 127, 174, 1);
    --main-background:#F7F4EF ; //rgba(247, 244, 239, 1)
    --cream: #FFF9F1; //rgba(255, 249, 241, 1)
    --light-beige: #E9E5DA;//rgba(233, 229, 218, 1)
    --ivory-header-background: #F1EAE0; //rgba(241, 234, 224, 1)
    --black: #1A1A1A; //rgba(26, 26, 26, 1)
    --dark-brown: #474138; //rgba(71, 65, 56, 1)
    --medium-grey:#686055; //rgba(104, 96, 85, 1)
    --taupe: #796D5C; //rgba(121, 109, 92, 1)
    --muted-coral: #BE7262; //rgba(190, 114, 98, 1)
    --coral: #DD826F; //rgba(221, 130, 111, 1)
    --red: #8A2525;//rgba(138, 37, 37, 1)
    --pale-peach: #E0C1A5; //rgba(224, 193, 165, 1)
    --charcoal-gray: #454545; //rgba(69, 69, 69, 1)
    --red-tomato: #DC5341; //rgba(220, 83, 65, 1)
}







*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color:  transparent;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit; 
}
html,
body {
    height: 100%;
    line-height: 1;
    font-family:Arial;
}
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button {
    cursor: pointer;
    background-color: inherit;
}


.wrapper {
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
}

.container {
    max-width: 1500px;
    padding: 0px 30px;
    margin: 0px auto;
    overflow: hidden;
}